body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barra{
    width: 100%;
    background-color: rgb(150, 148, 148);
    padding: 10px 5px;
    position: sticky;
    top: 0;
}
.head{
  display: flex;
  justify-content: space-around;
}
.nav {
  display: inline-block;
  background-color: rgb(150, 148, 148);
  padding: 0 10px;
  margin-left: 20px; 
}

.product{
  font-size: 10px;
  margin: 5px 5px 3px;
}

.cartContain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

footer{
  background-color: rgb(150, 148, 148);
}
.footerP{
  padding: 2px;
  font-size: 8px;
  text-align: center;
  color: black;
}